@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600;700&family=Ubuntu:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    --link: #00aff4
}
body {
    background-image: url('./imagens/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
p {
    color: #b9bbbe;
    font-size: 16p;
}

.box-form {
    background-color: #36393f;
    padding: 32px;
    width: 784px;
    height: 408px;
    font-size: 18px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 10px #0000003b;
}

.form-content{
    width: 60%;
}

.form-content .titulo {
    font-size: 30px;
    color: white;
    font-weight: 700;
    text-align: center;
    margin-bottom: 5px;
}

.form-content .subtitulo {
    text-align: center;
}

.form-content form {
    margin-top: 15px;
}

.form-content .form-input {
    margin-top: 20px;
}

.form-content label {
    color: #b9bbbe;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

.form-content label span {
    color: #ed4245;
}

.form-content input {
    padding: 10px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    border-radius: 3px;
    outline: none;
    border: none;
    background-color: #202225;
    color: #dcddde;
    margin-top: 8px;
}

.form-content .forget-password-link {
    margin-top: 4px;   
}

.form-content .forget-password-link a {
color: var(--link);
font-size: 14px;
font-weight: 500;
}

.form-content button {
    height: 40px;
    width: 100%;
    padding: 2px 16px;
    border-radius: 3px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #5865f2;
    cursor: pointer;
    margin-top: 20px;
}

.form-content .register-link {
    margin-top: 13px;
    font-size: 14px;
}

.form-content .register-link a{
    color: var(--link);
}

/* form-qrcode */
.form-qrcode {
    width: 40%;
    margin-left: 60px;
    text-align: center;
    color: white;
}

.form-qrcode h2 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}